<div class="row justify-content-md-center">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">List name</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mylist of mylists">
                <td>{{mylist.id}}</td>
                <td>
                    <span>{{mylist.nameList}}</span>
                </td>
                <td>{{mylist.dateList}}</td>
                <td><button class="btn btn-primary" (click)="delete(mylist)"> delete</button> </td>
            </tr>
        </tbody>
    </table>
</div>